<div class="questionPage">
  Date posted: {{question.date}}<br>
  Category: {{question.tag}}<br>
  Up Votes: {{question.upVotes}}<br>
  Down Votes: {{question.downVotes}}<br>
</div>
<button {{action 'delete' question}} class="btn btn-danger">Delete Question</button>
