<li>Question: {{question.question}} Author: {{question.author}} date: {{question.date}} notes: {{question.notes}} upVotes: {{question.upVotes}} downVotes: {{question.downVotes}}</li>
<!-- {{#link-to 'question' question.id}}Read more{{/link-to}} -->
