{{#if updateQuestionForm}}
  <h3>Update {{question.author}}'s {{question.theQuestion}} question</h3>
    <div>
      <form>
        <div class="form-group">
          <label for="question">Question:</label><br>
          {{input value=theQuestion id="theQuestion" placeholder=question.theQuestion}}
        </div>

        <div class="form-group">
          <label for="author">Author:</label><br>
          {{input value=author id="author" placeholder=question.author}}
        </div>

        <div class="form-group">
        <label for="dropdown">Category:</label><br>
        {{#x-select value=dropdown}}
          {{#x-option value="stupid"}}Stupid{{/x-option}}
          {{#x-option value="tech"}}Technology{{/x-option}}
          {{#x-option value="games"}}Video Games{{/x-option}}
          {{#x-option value="code"}}Coding{{/x-option}}
        {{/x-select}}
        </div>

        <div class="form-group">
          <label for="notes">Notes</label><br>
          {{textarea value=notes id="notes" placeholder=question.notes}}
        </div>

        <button class="btn btn-primary"{{action 'update' question}}>Save</button>
      </form>
    </div>
{{else}}
    <button class="btn btn-primary" {{action 'updateQuestionForm'}}>Update Question</button>
{{/if}}
