<h2>More information about: {{model.author}}'s {{model.theQuestion}}</h2>
{{update-question question=model update="update"}}
{{question-detail question=model destroyQuestion="destroyQuestion"}}
<hr>
{{new-answer submitAnswer="submitAnswer" questionId=model.id question=model}}
{{#each model.answers as |answer|}}
  {{answer-list answer=answer}}
  <button class="btn btn-danger btn-xs" {{action 'deleteAnswer' answer}}>Delete</button>
{{/each}}
